<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <!--<bean id="jsonObjectMapperFactory" class="com.tuan800.thirdlibext.jacksonext.JsonObjectMapperFactory"/>-->
    <!--&lt;!&ndash; 用来转换JsonNode到对象的Mapper &ndash;&gt;-->
    <!--<bean id="jsonObjMapper" factory-bean="jsonObjectMapperFactory" factory-method="getMapper"/>-->


    <!-- freemarker config -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/freemarker/"/>

        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape"/>
            </map>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="number_format">#</prop>                
            </props>
        </property>
    </bean>
    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>

    <!-- Application Message Bundle -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!--<property name="basename" value="classpath:messages/messages"/>-->
        <!--<property name="useCodeAsDefaultMessage" value="true" />   -->

        <!--默认cacheSeconds是-1，代表一直缓存。0适用于开发阶段，会每次检查资源文件的最后修改时间-->
        <!--<property name="cacheSeconds" value="0"/>-->
        <property name="defaultEncoding" value="utf-8"/>
        <property name="fallbackToSystemLocale" value="false" /> 

        <!--<property name="basenames">-->
            <!--<list>-->
                <!--<value>classpath:messages/messages</value>-->
                <!--<value>classpath:messages/validation</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

</beans>