<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="false" default-autowire="byName">

    <!--<bean id="mappingService" class="com.tuan8000.ruleslient.rules.MappingServiceImpl">-->
        <!--<property name="mappingScore" value="${mapping.score}"/>-->
    <!--</bean>-->

    <!--<bean id="dataService" class="com.tuan8000.ruleslient.rules.DataServiceImpl" />-->

    <!--<bean id="allocationService" class="com.tuan8000.ruleslient.rules.AllocationServiceImpl"-->
          <!--init-method="init">-->
        <!--<property name="assign" value="${data.isAssign}"/>-->
    <!--</bean>-->

    <!--<bean id="debugService" class="com.tuan8000.ruleslient.rules.DebugServiceImpl"/>-->

</beans>